{% load i18n %}
<div class="signaturePadWrapper">
  {% include 'django/forms/widgets/input.html' %}
  <canvas id="{{ signature_pad_widget.signature_pad_id }}"></canvas>
  {% if widget.value is None %}
  {% if signature_pad_widget.options.saveButton %}
  <button id="{{ signature_pad_widget.signature_pad_id }}_save">{% translate 'Save Signature' %}"</button>
  {% endif %}
  {% if signature_pad_widget.options.resetButton %}
  <input id="{{ signature_pad_widget.signature_pad_id }}_reset" class="button" type="reset" value="{% translate 'Reset' %}" >
  {% endif %}
  {% endif %}
</div>